---
layout: layouts/base.njk
templateClass: tmpl-note
---
<h1>{{ title }}</h1>

<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
{%- for tag in tags | filterTagList -%}
{%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
<a href="{{ tagUrl | url }}" class="note-tag">{{ tag }}</a>
{%- endfor %}

{{ content | safe }}

{%- set nextNote = collections.notes | getNextCollectionItem(page) %}
{%- set previousNote = collections.notes | getPreviousCollectionItem(page) %}
{%- if nextNote or previousNote %}
<hr>
<ul>
  {%- if nextNote %}<li>Next: <a href="{{ nextNote.url | url }}">{{ nextNote.data.title }}</a></li>{% endif %}
  {%- if previousNote %}<li>Previous: <a href="{{ previousNote.url | url }}">{{ previousNote.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}