---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - note
    - notes
    - tagList
  addAllPagesToCollections: true
layout: layouts/base.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
---
<h1>Тег “{{ tag }}”</h1>

{% set noteslist = collections[ tag ] %}
{% include "noteslist.njk" %}
